/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #F2F0EF;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header */
header {
    background-color: #245F73;
    padding: 10px;
    color: white;
    height:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-btn {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logout-btn:hover {
    text-decoration: underline;
}

/* Dashboard Container
.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}
*/

/* Profile Section (Compact Card)
.profile-section {
    background: white;
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    text-align: center;
    border-left: 5px solid #816C61;
    border-right: 5px solid #816C61;
}

*/

h2 {
    color: #333;
}

strong {
    color: #555;
}



/* Courses Section
.courses-section {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
}
*/

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #245F73;
    color: white;
}

/* Dashboard Layout */
.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height : 80vh;
    gap:20px;
}

/* Left Section (Profile & Academic Details) */
.left-section {

    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
}

/* Profile Sections */
.profile-section , .courses-section{
    background: white;
    padding: 20px;
    /* margin-bottom: 10px; */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #733E24;
}

/* Courses Section
 background: white;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
 */
.courses-section {
    width: 55%;
}