/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #BBBDBC; /* Light GRAY background */
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background: #245F73; /* Muted TEAL SHADE */
    color: white;
    padding: 15px 20px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 0;
}

/* Navigation */
.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

.container {
    position: relative;
    top: 70px;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Buttons */
.button {
    display: inline-block;
    margin: 10px;
    padding: 15px 25px;
    font-size: 16px;
    color: white;
    background: #9b5d3a;; /* Button color */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.button:hover {
    background: #9b5d3a;; /* Darker on hover */
}

/* Image */
.image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Footer */
footer {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}
