/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #F2F0EF;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header */
header {
    background-color: #245F73;
    height:70px;
    padding: 13px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Login Container */
.container {
    background-color: white;
    padding: 30px;
    margin: 50px auto;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    text-align: left;
    font-size: 16px;
    color: #444;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 90%;
}

button {
    background-color: #9b5d3a;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #854a2d;
}

/* Footer */
footer {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}