/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #F2F0EF;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header */
header {
    background-color: #245F73;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Signup Container */
.container {
    background-color: white;
    padding: 30px;
    margin: 50px auto;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #854a2d; /* Brown accent */
}

h2 {
    color: #245F73;
}

p {
    color: #555;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    text-align: left;
    font-size: 16px;
    color: #444;
}

input, select {
    padding: 10px;
    border: 1px solid #BBBDBC;
    border-radius: 5px;
    font-size: 14px;
    width: 90%;
}

/* Button */
.button {
    background-color: #245F73;
    color: white;
    border: none;
    height:70px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #1F4E5E;
}

/* Footer */
footer {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}
